<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<listener>
		<listener-class>
			com.sun.xml.ws.transport.http.servlet.WSServletContextListener
		</listener-class>
	</listener>

	<servlet>
		<description>
			JAX-WS endpoint - SiscarServicesService
		</description>
		<display-name>SiscarServicesService</display-name>
		<servlet-name>SiscarServicesService</servlet-name>
		<servlet-class>
			com.sun.xml.ws.transport.http.servlet.WSServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SiscarServicesService</servlet-name>
		<url-pattern>/SiscarPort</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SiscarServicesService</servlet-name>
		<url-pattern>/SiscarServicesPort</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SiscarServicesService</servlet-name>
		<url-pattern>/SiscarService</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>

</web-app>
